{deps, [
	{poolboy, ".*", {git, "https://github.com/devinus/poolboy.git", "master"}},
	{eredis, ".*", {git, "git://github.com/wooga/eredis.git", "master"}},
	{cowboy, "1.1.2", {git, "https://github.com/ninenines/cowboy", {tag, "1.1.2"}}},
	{protobuffs, ".*", {git, "https://github.com/basho/erlang_protobuffs.git", {branch, "master"}}},
	{'proper', ".*", {git, "https://github.com/manopapad/proper.git", "master"}},
	{'goldrush', ".*", {git, "https://github.com/extend/goldrush.git", "master"}},
	{'lager', ".*", {git, "https://github.com/erlang-lager/lager.git", "master"}}
]}.




