%% ======================================== 配置文件 ======================================== %%
[
	{landlords,
		[
			{center_node, 'test@hostname'},
			{http_port, 8081},      %% http端口
			{tcp_port, 13657},      %% tcp端口
			{listen_num, 5},          %% 侦听线程个数

			{redis, [
				{pool_redis_userinfo, [
					{name, {local, pool_redis_userinfo}},
					{worker_module, eredis},
					{size, 10},
					{min_size, 5},
					{max_overflow, 20}
				], [
					{host, "127.0.0.1"},
					{port, 6379}
				]}
			]},

			{mysql, [
				{host, "127.0.0.1"},
				{port, 6379},
				{password, "123456"}
			]}
		]

	},


	{lager, [
		{async_threshold, 5000},
		{async_threshold_window, 50},
		{crash_log, "/var/logs/tuita/landlords/crash.log"},
		{crash_log_msg_size, 65536},
		{crash_log_size, 10485760},
		{crash_log_date, "$D0"},
		{crash_log_count, 5},
		{handlers, [
			{lager_console_backend, debug},
			{lager_file_backend,
				[{file, "/var/logs/tuita/landlords/error.log"},
					{level, error},
					{size, 1048576000},
					{date, "$D0"},
					{count, 100}]
			},
			{lager_file_backend,
				[{file, "/var/logs/tuita/landlords/console.log"},
					{level, debug},
					{size, 1048576000},
					{date, "$D0"},
					{count, 100}]
			}]
		}]
	}
].



