[
	{landlords_client,
		[
			{uid, 1000001},
			{nickname, <<"小雨">>},    %% 用户名
			{password, <<"000001#s87kjiu8fg=1p6&6wwk">>},    %% 密码
			{phone, <<"13422896543">>},    %% 电话
			{version, <<"0.0.1">>},    %% 版本号
			{device, 2},      %% 登录方式
			{addrs, {"192.168.32.17", 13657}}  %% 服务器地址
		]
	}

].



